<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Our javascript -->
    <script src="/static/javascript/javascript.js" defer></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>


<div class="jumbotron text-center">
    <h1>Scam Shop</h1>
    <button type="button" class="shoppingCart btn btn-warning">Shopping Cart: <span id="badge" class="badge" th:text="${totalItems}"></span></button>
</div>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="register"></li>
                    <li></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div th:class="container">
    <div class="categories">
        <h4>Categories:</h4>
        <a th:each="category,iterStat : ${categories}" th:class="category" th:text="${category.name}" th:href="'http://localhost:8888/?category='+${category.id}"> </a>
    </div>
    <div class="suppliers">
        <h4>Suppliers:</h4>
        <a th:each="supplier,iterStat : ${suppliers}" th:class="category" th:text="${supplier.name}" th:href="'http://localhost:8888/?supplier='+${supplier.id}"></a>
    </div>
</div>
<div class="container">
    <div class="well well-sm">
        <strong th:text="${category != null}? ${category.name}">Category Title</strong>
    </div>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image myimagesize" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.gif'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button type="button" class="addToCart btn btn-success" th:id="${prod.id}">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>