<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shopping Cart</title>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/static/javascript/javascript.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

</head>
<body>
    <div class="jumbotron text-center">
        <h1>Shopping Cart</h1>
    </div>
    <div th:each="item, iterStat:${items}" class="container mycard">
        <div class="row">
        <div th:text="${item.getName()}" class="col-sm-3"></div>
            <div class="col-sm-3"><input th:min="0" th:max="99" th:type="number" th:name="quantity" th:value="${item.getQuantity()}"><img th:data-quantity="${item.getQuantity()}" th:data-name="${item.getName()}"th:class="refresh" src="/static/img/refresh_icon.png"  height="42" width="42"></div>
        <div th:text="'Unit price: '+${item.getDefaultPrice()} +' USD'" class="col-sm-3"></div>
        <div th:text="'Subtotal: ' + ${item.getTotalPrice()} +' USD'" class="col-sm-3 text-sm-left"></div>
        </div>
    </div>
    <div th:class="container">
        <h3 th:if="${items.size() != 0}" th:class="sum" th:text="'Total price: '+${sumOfPrice}+' USD'"></h3>
        <button th:if="${items.size() != 0}" th:class="checkout" th:data-orderid="${orderid}" class="button">Checkout</button>
        <h1 th:if="${items.size() == 0}">Your cart is empty!</h1>
    </div>
</body>
</html>