<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="/static/javascript/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/javascript/bootstrap.min.js"
            defer></script>
    <!-- Our javascript -->
    <script src="/static/javascript/javascript.js" defer></script>


    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>
    <div class="jumbotron text-center">
        <h1>You just wasted your money!</h1>
        <a class="btn btn-danger" href="/" role="button">Back to the front page</a>
    </div>
    <div th:replace="footer.html :: copy"></div>
</body>
</html>